<html>
  <head>
    <title>Sandra's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Little Donut's blog<a/></h1>
    </div>
    <div>
      <p>published: 2.07.2019</p>
      <h2><a href="">My first post</a></h2>
      <p>To jest moj pierwszy wpis na blogu bla bla bla bla bla bal abl balablablabl abalbalblablaba lablab</p>
    </div>
    <div>
      <p>published: 3.07.2019</p>
      <h2><a href="">My second post</a></h2>
      <p>Co tam misiaczku? :D :* </p>
    </div>
  </body>
</html>
